@section Title { KMS Calendar }
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #154360; 
         height: 700px; 
         padding-top: 72px;">
  <div class="container body-content" 
       style="">
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for calling
        extra attention to featured content or information.
      </p>
      <hr class="my-4">
      <p>
        It uses utility classes for typography and spacing to space content out within
        the larger container.
      </p>
      <a class="btn btn-primary btn-lg" 
         href="@Url.Action("ResetPassword", "Authentication", "authToken={token1234}")" 
         role="button">Reset Password &raquo;
      </a>
    </div>
  </div>
</section>