@section Title { KMS Calendar }
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p><a href="@Url.Action("ResetPassword", "Authentication")" class="btn btn-default">Forgot Your Password &raquo;</a></p>

