@section Title { KMSCalendar Reset Password Confirmation }
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet"
      type="text/css"
      href="@Url.Content("~/css/styles.css")" />

<div class="container body-content">
    <div class="container-fluid w-50 p-3">
        <div>
            <h1>Your Password is Reset!</h1>
        </div>

        <div class="mx-auto w-75 p-3">
            <img src="~/Content/Images/fireworks.png" alt="Fireworks Icon" style="height: 100%; width: 100%;" />
        </div>

        <div class="mx-auto" style="width: 200px">
            <a class="btn btn-primary" href="@Url.Action("Index")">Return to Website Home</a>
        </div>

    </div>
</div>



