<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" package="com.KenMattSan.HomeworkBuddy" android:installLocation="auto" android:versionName="0.2 ">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="HW Buddy" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>