@section Title { KMS Calendar }

<section style="background-color: #154360; height: 700px;">
    <p style="color: white;">Hello World</p>

    <p><a href="@Url.Action("Index", "Authentication")" class="btn btn-default" style="color: white;">Forgot Your Password &raquo;</a></p>

    <button type="button" class="btn btn-primary">Primary</button>

</section>

<section style="background-color: #ffffff; height: 700px;">

    <p>stuff goes here</p>

</section>

<section style="background-color: #154360; height: 700px;">

    <p style="color: white;">stuff goes here</p>

</section>


