@section Title { KMS Calendar }

<p>Hello World</p>

<p><a href="@Url.Action("Index", "Authentication")" class="btn btn-default">Forgot Your Password &raquo;</a></p>

<button type="button" class="btn btn-primary">Primary</button>

